
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #ffffff;
}

.wrapper {
    width: 90%;
    max-width: 25em;
    background: linear-gradient(135deg, #cfcbd2, #cb98ed, #8b63da, #3c21b7); /* Gradient background */
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    padding: 2em;
    border-radius: 0.8em;
}

.app-title {
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 1em;
    text-align: center;
    color: #02002c; /* Dark color for better visibility */
}

label {
    display: block;
    font-weight: 600;
    margin-top: 1em;
}

input {
    width: 100%;
    padding: 0.5em;
    border: 2px solid #02002c;
    margin-bottom: 1em;
}

.conversion-info {
    font-weight: 600;
    text-align: center;
    margin-top: 1em;
    color: #000;
}

button {
    width: 100%;
    padding: 1em 0;
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    margin-top: 1em;
}

#result {
    font-size: 1.2em;
    text-align: center;
    margin-top: 1em;
    color: #02002c; /* Adjusted result color for readability */
}
